<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} </title>
<link rel="stylesheet" href="{{ url_for('static', filename='NavBar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='website.css') }}">
<link rel="icon" href="{{ url_for('static', filename='icons/tech_tree.jpg') }}">
<link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

 {% block style %}{% endblock %}


</head>
<body>
<ul>
    <!--
    <li><a  id = "about" href="http://forrestwargo.us-east-2.elasticbeanstalk.com//About">About</a></li>
  <li><a id = "sudoku"  href="http://forrestwargo.us-east-2.elasticbeanstalk.com//Sudoku">Sudoku</a></li>
<li><a id = "pixel_pic" href="http://forrestwargo.us-east-2.elasticbeanstalk.com//PixelPic">Pixel Pic</a></li>
    <li><a id = "backgammon" href="http://forrestwargo.us-east-2.elasticbeanstalk.com//Backgammon">Backgammon</a></li>
</ul>
           -->
        <li><a  id = "about" href="/About">About</a></li>
  <li><a id = "sudoku"  href="/Sudoku">Sudoku</a></li>
<li><a id = "pixel_pic" href="/PixelPic">Pixel Pic</a></li>
    <li><a id = "backgammon" href="/Backgammon">Backgammon</a></li>
</ul>

{% block body %}{% endblock %}


</body>
</html>