{% extends "NavBar.html" %}
{% block title %}Forrest Wargo{% endblock %}


 {% block body %}
     <script>
     document.getElementById("about").className = "active"
     </script>
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url('../static/about_page/me_on_wall.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thought_bubble{
    margin-left: 50px;
    margin-right: auto;
    height: 300px;
    width: 40%;
    background-color: white;
    opacity: 100%;
    border-radius: 45%;

}
.Bio{
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
    width: 35%;
    background-color: white;
    opacity: 80%;


}

</style>

<div class="bg">

    <article class= thought_bubble >

        <p style="position: relative; font-size: 25px; padding-left: 90px; padding-top: 30px">I could really use a JOB!</p>

        <a href="https://bitbucket.org/dashboard/repositories" target="_blank">
            <img style="height: 100px" src={{url_for('static', filename='about_page/github.png') }}>
        </a>

        <a href="https://www.linkedin.com/in/forrest-wargo-089090161/" target="_blank">
            <img style="height: 100px" src={{url_for('static', filename='about_page/linkedin.png') }}>
        </a>
        <a href = "mailto: Forrest.Wargo@gmail.com">Email Me</a>
        <a href='../static/about_page/Forrest_Wargo_Resume.pdf' target="_blank">Resume</a>
    </article>

        <P class="Bio">
            My Name is Forrest Wargo. I am a Senior Computer Science Major + Machine Learning TA at the University of Rochester. I am also a researcher at the Department of Brain and Cognitive Sciences, and full stack developer at AURA. 
            I built this website to combine my passion for Ai and web development to create programs that can beat me at my favorite games.
        </P>

</div>



{% endblock %}