    .tile {
        border: 1px inset black;
        background-color: white;
        width: 12.5%;
        height: 12.5%;
        padding-bottom: 2.5%;
        padding-top: 2.5%;
        font-size: 150%;
        text-align: center;
        margin: auto;
        display: inline-block;

    }
    .tile:hover{
        color: rgba(200,200,225,1);
    }
    table, th, td {
        position: center;
        width: min(100vw,90vh);
        padding-top: 20%; /* = width for a square aspect ratio */
        padding-bottom: 20%; /* = width for a square aspect ratio */
        border: 3px solid black;
        border-collapse: collapse;
    }




    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .permanent{
        margin: auto;
        display: block;
        background-color: #333333;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        height: 50%;
        border: none;
    }
    #reset{
        width: 100%;
        display: inline;
        float: right;
        margin: auto;

    }
    #show_moves{
        width: 50%;
        display: inline;
        float: right;
        margin: auto;

    }
    #rank_moves{
        width: 50%;
        display: inline;
        float: right;
        margin: auto;

    }
    #button_container{
        margin: auto;
        width: 15%;
    }

    .permanent:hover{
        background-color: black;
    }
    #table_container{
        padding-top: 20px;
    }
    #slider_container{
        width: 100%;
    }
    #slider_container:hover{
        background-color: #333333;
    }
    #thinking{
        left:60%;
        position: absolute;
        padding: 10px;
        opacity: 0;
    }
    #warning{
        left:60%;
        position: absolute;
        padding: 10px;
        opacity: 0;
    }


